<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button title="Rafraîchir">
        <fa-icon [icon]="faRotateRight"></fa-icon>
      </button>
      <a routerLink="add" class="button" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>
      <button title="Supprimer">
        <fa-icon [icon]="faTrashCan"></fa-icon>
      </button>
    </nav>
    <div class="error"></div>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of articleService.articles; trackBy: getArticleId">
          <td class="name">{{ a.name }}</td>
          <td class="price">{{ a.price }} €</td>
          <td class="qty">{{ a.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
