div.content {
  display: flex;
  flex-flow: column;
  gap: 0.5em;

  nav {
    display: flex;
    gap: 0.3em;
  }

  table {
    border: 0.1em solid #aaa;

    border-radius: 0.3em;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;

    th,
    td {
      padding: 0.5em 1em;
    }

    thead {
      background: #aaa;
    }

    tbody {
      cursor: pointer;
      tr:nth-child(even) {
        background: #eee;
      }

      tr:hover {
        background: #ddd;
      }

      tr.selected {
        background: #ccc;
      }

      .price,
      .qty {
        text-align: right;
      }
    }
  }
}
