<main>
  <h1>Ajout d'un article</h1>
  <form [formGroup]="f" (ngSubmit)="submit()">
    <label>
      <span>Nom</span>
      <input type="text" formControlName="name" placeholder="Ex: Tournevis" />
    </label>
    <label>
      <span>Prix</span>
      <input type="number" formControlName="price" />
    </label>
    <label>
      <span>Quantité</span>
      <input type="number" formControlName="qty" />
    </label>
    <div class="error">
      {{ errorMsg }}
    </div>
    <button type="submit" class="primary" [disabled]="f.invalid || isAdding">
      <fa-icon
        [icon]="isAdding ? faCircleNotch : faPlus"
        [spin]="isAdding"
      ></fa-icon>
      <span>Ajouter</span>
    </button>
    {{ f.value | json }}
  </form>
</main>
