<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam
    laudantium architecto et earum quos rerum eius quo, hic, sequi quia adipisci
    deserunt beatae, perferendis suscipit nostrum iure libero alias? Explicabo!
  </p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error eius
    repellat quam hic obcaecati ullam harum odit. Provident cumque beatae rem
    dolorem veritatis ex, assumenda culpa ut autem vero modi maiores ipsam
    deleniti magnam asperiores impedit. Consequatur, omnis nesciunt laudantium
    quae in voluptatem doloremque corrupti dignissimos molestias ad expedita
    cumque, adipisci recusandae quas quidem! Doloremque est alias animi
    accusantium dolore? Quidem dolor sunt facere enim reprehenderit adipisci,
    praesentium impedit tenetur expedita, voluptatibus optio, laborum commodi?
    Voluptatum ab quod quaerat, hic debitis nesciunt omnis deserunt quam animi
    autem voluptas et aperiam veritatis assumenda illo illum eaque, repellendus
    repellat corrupti unde quisquam.
  </p>
</main>
